{% extends 'template.html' %}
{% block title %}
    <title>Photobooks Online</title>
{% endblock %}
{% block body %}
<div style="margin-left: 20px;">
    <div style="text-align: center;">
        <a href="#">Your Collection</a>
        <a href="#">Public</a>
        <a href="#">Following</a>
    </div>
    <a href="{{ url_for('upload') }}">Add Photobook</a>
</div>
<div class="cards">
    <a href="{{ url_for('view_book') }}"> <div class="square"></div> </a>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
</div>
{% endblock %}
