{% extends 'template.html' %}
{% block title %}
<title>Login</title>
{% endblock %}
{% block body %}
    <div style="text-align: center;">
        <form class="subform" method=POST id="login" enctype=multipart/form-data action="{{ url_for('login') }}">
            <input type="text" name="username" placeholder="Username" maxlength="30" required> <br>
            <input type="password" name="password" placeholder="Password" maxlength="30" required> <br>
            <input type="submit">
        </form>
    </div>
{% endblock %}