{% extends 'template.html' %}
{% block title %}
<title>Register</title>
{% endblock %}
{% block body %}
    <div style="text-align: center;">
        <form class="subform" method=POST id="register" enctype=multipart/form-data action="{{ url_for('register') }}">
            <input type="text" name="username" placeholder="Username" maxlength="30"> <br>
            <input type="text" name="password" placeholder="Password" maxlength="30"> <br>
            <input type="submit">
        </form>
    </div>
{% endblock %}