<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} {% endblock %}
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}"><span style="color: white; "><img style="height:50px; width:auto;" src="{{ url_for('static', filename='Auca_logo.png') }}" alt="Auca Logo"></span></a>
        <span style="color: white; "><label>Photobooks Online</label></span>
        <nav>
            <ul class="nav__links">
                {% if 'username' not in session.keys() %}
                <li><a href="{{ url_for('login') }}">Log in</a></li>
                <li><a href="{{ url_for('register') }}">Sign up</a></li>
                {% else %}
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    {% block body %} {% endblock %}
</body>
</html>