{% extends 'template.html' %}
{% block title %}
<title>Upload your Photobook!</title>
{% endblock %}
{% block body %}
    <div style="text-align: center;">
        <form class="subform" method=POST id="submitform" enctype=multipart/form-data action="{{ url_for('upload') }}">
            <input type="text" name="book_name" placeholder="Photobook name" required> <br>
            <input type=file id="submitfiles" name=photo multiple style="display: none;"> <br>
            <input type="radio" class="radioButton" id="private" value="private" name="isPrivate" checked>
            <label for="private">Private</label>
            <input type="radio" class="radioButton" id="public" value="public" name="isPrivate">
            <label for="public">Public</label><br>
            <label for="submitfiles"><span style="font-size: x-large">Click Here To Submit files </span></label> <br>
            <textarea name="desc" form="submitform" maxlength="100" placeholder="Description (100 chars)"></textarea> <br>
            <input type="submit">
        </form>
    </div>
{% endblock %}