{% extends 'template.html' %}
{% block title %}
<title>View the Photobook!</title>
{% endblock %}
{% block body %}
<div style="margin-left: 20px;" align="left">
    <span style="color:white;">
        Photobook name: {{ photobook.photobookName }}<br>
        Author: {{ author.username }}<br>
        Date Created: {{ photobook.dateCreated }}<br>
        Description: {{ photobook.description }}<br>
    </span>
</div>
<div class="cards">
    {% for photo in photos %}
    <div class="square" style="background-image:url({{url_for('static', filename='/img/' + photo.photoName)}});background-size: 100% 100%;background-repeat: no-repeat" ></div>
    {% endfor %}
</div>
<footer>
    <a href="{{ url_for('index') }}">Back</a>
    <div style="text-align: center;">
        <a href="#">Edit</a>
        <a href="{{ url_for('delete',id=photobook.photobookId) }}">Delete</a>
        <a href="#">Follow</a>
    </div>
    <a href="#">Next page</a>
</footer>
{% endblock %}