{% extends 'template.html' %}
{% block body %}
<div style="margin-left: 20px;" align="left">
    <span style="color:white;">
        Photobook name: <br>
        Author: <br>
        Date Created: <br>
        Description: <br>
    </span>
</div>
<div class="cards">
    <div class="square" style="background-image:url({{url_for('static', filename='/img/not_resized.png')}});background-size: 100% 100%;background-repeat: no-repeat" ></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
    <div class="square"></div>
</div>
<footer>
    <a href="{{ url_for('index') }}">Back</a>
    <div style="text-align: center;">
        <a href="#">Edit</a>
        <a href="#">Delete</a>
    </div>
    <a href="#">Next page</a>
</footer>
{% endblock %}